/*materialize color*/

h1 {
    color: #1e88e5;
}

h2 {
    color: #4caf50;
}

h3 {
    color: #f44336;
}


/*bootstrap color*/


/*h1 {
  color: #31708F;
}
h2 {
  color: #3C763D;
}
h3 {
  color: #A94442;
}*/
